*~
O.*/
*.swp
*BAK.adl
bin/
/db/
dbd/
html/
include/
lib/
iocsh/
templates/
cdCommands
envPaths
cdCommands
dllPath.bat
runIOC.bat
runIOC.sh
relPaths.sh
.project
auto_settings.sav*
auto_positions.sav*
RELEASE.local
